html,
body {
  margin: 0;
  background: rgb(233, 233, 233);
}
body::-webkit-scrollbar {
  display: none;
}
* {
  font-family: 'Do Hyeon', sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  z-index: 999;
}

footer {
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
.footerContainer {
  width: 100%;
  min-height: 100px;
  max-width: 600px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}
.footerContainer > h3 {
  padding: 10px;
}

.hr {
  width: 100%;
  height: 1px;
  background: lightgray;
  margin: 5px 0 20px 0;
}

.backgroundContainer {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  padding-top: 350px;
}

.backgroundContainer > video {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  filter: grayscale(100%);
  position: fixed;
  z-index: 1;
  top: 0;
}
.backgoundWall {
  width: 100%;
  background: rgb(233, 233, 233);
  position: absolute;
  z-index: 2;
  box-shadow: 0 0 10px black;
}
