{
  "trailingComma": "es5",
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,

  "plugins": ["prettier-plugin-sql", "prettier-plugin-embed"],
  "formatter": "sql-formatter",
  "language": "sqlite",
  "keywordCase": "upper"
}
